
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

pre {
    background-color: $light;
    border: $border-width solid $border-color;
    padding: 1.0rem;
}
